<article class="text--justified">
  <header><h2>Teams</h2></header>

  <a class="btn" [routerLink]="['/organizations/create']">Add a Team</a>

  <table *ngIf="organizations">
    <thead>
    <tr>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let organization of organizations?.organizations">
      <td>
        <a [routerLink]="['/organizations', organization.id]">{{ organization.name }}</a>
      </td>
      <td>
        <button class="btn" (click)="onDelete(organization)">Delete</button>
      </td>
      <td>
        <a class="btn" [routerLink]="['/organizations/edit', organization.id]">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>
</article>
