<article class="text--justified">
  <header><h2>Players</h2></header>
  <a class="btn" [routerLink]="['/players/create']">Add a Player</a>
  <table *ngIf="players">
    <thead>
    <tr>
      <th>first/last name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of players?.players">
      <td>
        <a [routerLink]="['/players', player.id]">{{player.firstName + " " + player.lastName}}</a>
      <td>
        <button class="btn" (click)="onDelete(player)">Delete</button>
      </td>
      <td>
        <a class="btn" [routerLink]="['/players/edit', player.id]">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>
</article>
